---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Volodymyr Vorobiov - UX/UI Designer">
    <main class="content">
        <section class="about-me">
            <h1>Volodymyr Vorobiov <br> <span>UX/UI Designer</span></h1>

            <p>Your website is the first handshake with your audience, and I design it to leave a lasting impression. <br> With 2 years of experience as a  <br> Web Designer, I specialize in blending art and technology to craft unforgettable digital journeys. <br><br>
                On the creative side, I bring expertise in tools like Blender, Photoshop, Figma, and Illustrator to design custom graphics, intuitive UI/UX elements, and full website layouts. <br><br>
                My passion lies in creating visually stunning designs that enhance user experiences. I’m also skilled in prototyping, wireframing, and UI design, ensuring that every user’s journey is seamless across all platforms.</p>

            <div class="soc-medias">
                <a href="https://www.linkedin.com/in/volodymyr-vorobiov-b35938279/">LinkedIn</a>
                <a href="https://www.behance.net/vorobiovolodym">Behance</a>
            </div>
        </section>

        <section class="cases">
            <h2>Cases</h2>

            <ul>
                <li><a href="https://www.figma.com/design/CxaVkQHYv0bywQZqpg0Lbu/frant?node-id=0-1&t=MRPwvwIJnZnKW15c-1">Frant</a></li>
                <li><a href="https://www.figma.com/design/EfgFZTnoepS0tpQz2FcP0O/buskanini?node-id=0-1&t=20reYqtlvjwCZyNq-1">buskanini</a></li>
                <li><a href="https://www.figma.com/design/annOtk3I5nMx2sYFFDvecL/SkiWay?node-id=0-1&t=ibe6i9gLCbbCb737-1">SkiWay</a></li>
                <li><a href="https://www.figma.com/design/8bUas6iucAjs7EIW2R7B5v/Tedo-Artline?node-id=0-1&t=VbmIZTIP5y1lnj1P-1">Tedo Artline</a></li>
                <li><a href="https://www.figma.com/design/algv7e0yN1jT5ig3ygQotk/FriendsRate?node-id=0-1&t=6fSA6b0WEb3WU5ly-1">FriendsRate</a></li>
            </ul>
        </section>

        <video autoplay loop muted playsinline>
            <source src="/vv-portfolio/video.mp4" type="video/mp4" >
            Your browser does not support the video tag.
        </video>
    </main>
</Layout>
<style>
    video {
        display: none;
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        padding: 3.47vw;
        height: 100%;
        box-sizing: border-box;
    }

    .about-me {
        h1 {
            color: #FFF;
            font-family: Unbounded, sans-serif;
            font-size: 2.5vw;
            font-weight: 600;

            span {
                font-size: 3.33vw;
            }
        }

        p {
            color: #FFF;
            font-family: Geologica, sans-serif;
            font-size: 1.11vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.74vw;
            max-width: 58.13vw;
            padding-top: 2.36vw;

            br:first-child, br:nth-child(2) {
                display: none;
            }
        }

        .soc-medias {
            display: flex;
            gap: 0.69vw;
            padding-top: 1.04vw;

            a {
                display: flex;
                padding: 1.25vw 2.36vw;
                justify-content: center;
                align-items: center;
                gap: 0.69vw;
                border-radius: 2.92vw;
                background: #D0FE1D;
                color: #000;
                font-family: Geologica, sans-serif;
                font-size: 2.22vw;
                font-weight: 600;
                line-height: 78.125%;
                letter-spacing: 0.02vw;
            }
        }
    }

    .cases {
        h2 {
            color: #FFF;
            font-family: Unbounded, sans-serif;
            font-size: 4.44vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            mix-blend-mode: difference;
        }

        ul {
            padding-top: 4.38vw;
            display: flex;
            justify-content: space-between;

            li {
                a {
                    color: #FFF;
                    font-family: Geologica, sans-serif;
                    font-size: 2.21vw;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.74vw;
                    letter-spacing: 0.02vw;
                }
            }
        }
    }

    @media (max-width: 796px) {
        video {
            display: block;
            position: absolute;
            top: 0%;
            left: 0%;

            overflow: hidden;


            height: 100%;
            max-width: 100vw;
            object-fit: cover;

            z-index: -1;
        }

        html {
            min-height: 100%;
            height: auto;
        }

        body {
            height: unset;
            min-height: 100vh;
        }

        .content {
            min-height: 100vh;
            height: 100%;
            padding: 6.923vw 6.923vw;
        }

        .about-me {
            h1 {
                font-size: 6.67vw;

                span {
                    line-height: 1.35;
                    font-size: 8.97vw;
                }
            }

            p {
                font-size: 4.18vw;
                line-height: 6.41vw;
                max-width: unset;
                padding-top: 8.21vw;

                br:first-child, br:nth-child(2) {
                    display: block;
                }
            }

            .soc-medias {
                gap: 2vw;
                padding-top: 3.85vw;
                display: flex;
                flex-wrap: wrap;

                a {
                    padding: 3.65vw 7.92vw;
                    border-radius: 8.51vw;
                    font-size: 6.15vw;
                }
            }
        }

        .cases {
            padding-top: 10vw;
            h2 {
                font-size: 7.18vw;
            }

            ul {
                padding-top: 3.33vw;
                flex-wrap: wrap;
                gap: 3.85vw;

                li {
                    a {
                        font-size: 5.64vw;
                        line-height: 6.41vw;
                        letter-spacing: 0.02vw;
                    }
                }
            }
        }
    }
</style>
