---
import Layout from '../layouts/Layout.astro';
import AmbientBackground from '../components/AmbientBackground.astro';
---

<Layout title="Volodymyr Vorobiov - UX/UI Designer">
    <AmbientBackground>
        <main class="content">
            <section class="about-me">
                <h1>Volodymyr Vorobiov <br> <span>UX/UI Designer</span></h1>

                <p>Your website is the first handshake with your audience, and I design it to leave a lasting impression. <br> With 2 years of experience as a  <br> Web Designer, I specialize in blending art and technology to craft unforgettable digital journeys. <br><br>
                    On the creative side, I bring expertise in tools like Blender, Photoshop, Figma, and Illustrator to design custom graphics, intuitive UI/UX elements, and full website layouts. <br><br>
                    My passion lies in creating visually stunning designs that enhance user experiences. I’m also skilled in prototyping, wireframing, and UI design, ensuring that every user’s journey is seamless across all platforms.</p>

                <div class="soc-medias">
                    <a href="https://www.google.com">LinkedIn</a>
                    <a href="https://www.google.com">Behance</a>
                </div>
            </section>

            <section class="cases">
                <h2>Cases</h2>

                <ul>
                    <li><a href="https://www.google.com">Frant</a></li>
                    <li><a href="https://www.google.com">buskanini</a></li>
                    <li><a href="https://www.google.com">SkiWay</a></li>
                    <li><a href="https://www.google.com">Tedo Artline</a></li>
                    <li><a href="https://www.google.com">FriendsRate</a></li>
                </ul>
            </section>
        </main>
    </AmbientBackground>
</Layout>
<style>
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        padding: 3.47vw;
        height: 100%;
        box-sizing: border-box;
    }

    .about-me {
        h1 {
            color: #FFF;
            font-family: Unbounded, sans-serif;
            font-size: 2.5vw;
            font-weight: 600;

            span {
                font-size: 3.33vw;
            }
        }

        p {
            color: #FFF;
            font-family: Geologica, sans-serif;
            font-size: 1.11vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.74vw;
            max-width: 58.13vw;
            padding-top: 2.36vw;

            br:first-child, br:nth-child(2) {
                display: none;
            }
        }

        .soc-medias {
            display: flex;
            gap: 0.69vw;
            padding-top: 1.04vw;

            a {
                display: flex;
                padding: 1.25vw 2.36vw;
                justify-content: center;
                align-items: center;
                gap: 0.69vw;
                border-radius: 2.92vw;
                background: #D0FE1D;
                color: #000;
                font-family: Geologica, sans-serif;
                font-size: 2.22vw;
                font-weight: 600;
                line-height: 78.125%;
                letter-spacing: 0.02vw;
            }
        }
    }

    .cases {
        h2 {
            color: #FFF;
            font-family: Unbounded, sans-serif;
            font-size: 4.44vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            mix-blend-mode: difference;
        }

        ul {
            padding-top: 4.38vw;
            display: flex;
            justify-content: space-between;

            li {
                a {
                    color: #FFF;
                    font-family: Geologica, sans-serif;
                    font-size: 2.21vw;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.74vw;
                    letter-spacing: 0.02vw;
                }
            }
        }
    }

    @media(max-width: 768px) {
        .content {
            padding: 16px 27px 13.557px 27px;
        }

        .about-me {
            h1 {
                font-size: 26px;

                span {
                    line-height: 1.35;
                    font-size: 35px;
                }
            }

            p {
                font-size: 16.29px;
                line-height: 25px;
                max-width: unset;
                padding-top: 32px;

                br:first-child, br:nth-child(2) {
                    display: block;
                }
            }

            .soc-medias {
                gap: 7.9px;
                padding-top: 15px;

                a {
                    padding: 14.222px 30.863px;
                    border-radius: 33.184px;
                    font-size: 24px;
                }
            }
        }

        .cases {
            h2 {
                font-size: 28px;
            }

            ul {
                padding-top: 13px;
                flex-wrap: wrap;
                gap: 15px;

                li {
                    a {
                        font-size: 22px;
                        line-height: 25px;
                        letter-spacing: 0.02vw;
                    }
                }
            }
        }
    }
</style>
