---
const scriptPath = "/AmbientLightBg.min.js";
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Volodymyr Vorobiov - UX/UI Designer</title>
    <script is:inline src={scriptPath}></script>
</head>
<body>
    <div id="bodx" class="background-box">
        <slot>Nothing here</slot>
    </div>
</body>
</html>
